{% load static %}

<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link href = "{% static "css/base.css" %}" rel="stylesheet">
  {% block extra_head %}{% endblock %}
</head>
<body>
  <div id="header">
    <span class="logo"><b>Class Routine Optimizer</b></span>
    {% if request.user.is_authenticated %}
    <ul class="menu">

    </ul>
  {% endif %}

  </div>

  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="{{ message.tags }}">
          {{ message|safe }}
            <a href="#" class="close">x</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <div id="content">
    {% block content %}
    {% endblock %}
  </div>

  <!-- React and ReactDOM (for development - use built bundle in production) -->
  <script crossorigin src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  
  <!-- Built React components bundle -->
  <script src="{% static 'js/react-components.js' %}"></script>
  
  {% block extra_scripts %}{% endblock %}
</body>
</html>